<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>МојаБиблиотека - Мои книги</title>
    <link rel="stylesheet" type="text/css" href="/css/listbooks.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body{
            background-color: #eccb96;
        }
    </style>
</head>
<body>

<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-1"><img class="img-responsive" src="/images/logo.png" id="logo-bootstrap"/></div>

        <div class="col-11">
            <div class="topnav-bootstrap">
                <a href="/library">Почетна</a>
                <a href="/library/listbooks">Книги</a>
                <a class="active" href="/library/myBooks" sec:authorize="hasRole('ROLE_USER')">Мои книги</a>
                <a href="/library/borrowed" sec:authorize="hasRole('ROLE_ADMIN')">Позајмици</a>
                <a href="/library/reservationlist" sec:authorize="hasRole('ROLE_ADMIN')">Резервации</a>
                <a href="/library/clients" sec:authorize="hasRole('ROLE_ADMIN')">Корисници</a>
                <a href="/library/map">Контакт</a>
                <a href="/library/accountInfo" sec:authorize="isAuthenticated()">Мој профил</a>
                <a href="/login" sec:authorize="isAnonymous()">Најави се</a>
                <a href="/logout" sec:authorize="isAuthenticated()">Одјави се</a></div>
        </div>
    </div>
</div>


<div class="container-fluid col-7">
    <section class="section">
        <div>
            <h1 th:text="${clientname}"></h1>
            <h3>Сите резервирани книги:</h3>
        </div>
    </section>

    <div>
        <div>
            <div >
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">Наслов</th>
                            <th scope="col">Автор</th>
                            <th scope="col">Година на публикување</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${books}">
                            <td th:text="${book.getTitle()}"></td>
                            <td th:text="${book.getAuthor()}"></td>
                            <td th:text="${book.getYear()}"></td>
                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/library/reserve/delete/{id}' (id=${book.getId()})}"
                                          th:method="POST">
                                        <button type="submit"
                                                class="button button3">
                                            Избриши
                                        </button>
                                    </form>
                                </th:block>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div>
            <h3>Сите позајмени книги:</h3>
        </div>
    </section>

    <div>
        <div>
            <div >
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">Наслов</th>
                            <th scope="col">Автор</th>
                            <th scope="col">Година на публикување</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="borrow : ${borrows}">
                            <td th:text="${borrow.getTitle()}"></td>
                            <td th:text="${borrow.getAuthor()}"></td>
                            <td th:text="${borrow.getYear()}"></td>
                         <td class="text-right">
                                <a href="/library/export/pdf"></a>

                             <form th:method="POST" th:action="@{'/library/export/pdf/{id}'(id=${borrow.getId()})}">
                                 <button type="submit" class="button button1">
                                     Види сметка
                                 </button>
                             </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>


</body>
</html>